In [46]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import PolynomialFeatures
import statsmodels.api as sm
import pickle

In [47]:
car_df = pd.read_csv("car-mpg.csv")

In [48]:
car_df.head()

,mpg,cyl,disp,hp,wt,acc,yr,origin,car_type,car_name
0,18.0,8,307.0,130,3504,12.0,70,1,0,chevrolet chevelle malibu
1,15.0,8,350.0,165,3693,11.5,70,1,0,buick skylark 320
2,18.0,8,318.0,150,3436,11.0,70,1,0,plymouth satellite
3,16.0,8,304.0,150,3433,12.0,70,1,0,amc rebel sst
4,17.0,8,302.0,140,3449,10.5,70,1,0,ford torino

In [49]:
car_df.describe().transpose()

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cyl,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
disp,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
wt,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acc,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
yr,398.0,76.010050,3.697627,70.0,73.000,76.0,79.000,82.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0
car_type,398.0,0.530151,0.499718,0.0,0.000,1.0,1.000,1.0

In [50]:
car_df.skew()
#Skewness Range
#Perfectly symetric - 0
#Good Symmetry - -0.5 to 0.5
#moderately skewed between -1 to -0.5 or 0.5 to 1
#Acceptable range - -1 to 1

mpg         0.457066
cyl         0.526922
disp        0.719645
wt          0.531063
acc         0.278777
yr          0.011535
origin      0.923776
car_type   -0.121280
dtype: float64

In [51]:
#Length vs Breadth Analysis
#Curse of Dimensionality
Fuel Type, transmission, variant
Diesel, manual
Petrol, automatic
Petrol, manual

SyntaxError: invalid syntax (<ipython-input-51-4d5eedf7137d>, line 3)

In [ ]:
car_df.corr()

In [ ]:
#sns.pairplot(car_df[["mpg","disp"]])
#sns.jointplot("mpg","disp",data=car_df)
sns.lmplot("mpg","disp",data=car_df)

In [ ]:
car_df.info()

In [ ]:
car_df.hp.str.isdigit()

In [ ]:
car_df[car_df.hp.str.isdigit()==False]

In [ ]:
car_df.replace("?",np.nan,inplace=True)
#car_df.replace("-",np.nan,inplace=True)
#car_df.replace("*",np.nan,inplace=True)
#car_df.replace("~",np.nan,inplace=True)

In [ ]:
car_df[car_df.hp.str.isdigit()==False]

In [ ]:
car_df['hp'] = car_df['hp'].astype('float')
car_df['hp'] = car_df['hp'].fillna(value=car_df['hp'].mean())
car_df[car_df.hp.isnull()]

In [ ]:
car_df.drop("car_name",axis=1,inplace=True)

In [ ]:
car_df.info()

In [ ]:
sns.heatmap(car_df.corr(),annot=True)

In [ ]:
#sns.pairplot(car_df,corner=True)

In [ ]:
X = car_df.drop("mpg",axis=1)
y = car_df["mpg"]

In [ ]:
#Split Data - Train and Test

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.30,random_state=1)

In [ ]:
print("X_train",X_train.shape)
print("X_test",X_test.shape)
print("y_train",y_train.shape)
print("y_test",y_test.shape)

In [ ]:
linear_reg_model = LinearRegression()

In [ ]:
#Training Model
linear_reg_model.fit(X_train,y_train)

In [ ]:
#Testing Model
linear_reg_model.score(X_test,y_test)

In [ ]:
y_pred = linear_reg_model.predict(X_test)

In [70]:
r2 = r2_score(y_test,y_pred)
r2

0.8532208140831758

In [ ]:
X_train.shape[1]

In [69]:
#Adjusted R2
n = X_train.shape[0]
p = X_train.shape[1]
adj_r2 = 1 - (1-r2)*(n-1)/(n-p-1)
adj_r2

0.8488556338328613

In [ ]:
#C
linear_reg_model.intercept_

In [ ]:
#Coefficients
linear_reg_model.coef_

In [ ]:
for idx,column_name in enumerate(X_train.columns):
    print(column_name,linear_reg_model.coef_[idx])

In [ ]:
#y=mX+C
#y=m1X1+m2X2+m3X3....+m8X8+C
y_pred_for_new_car = (1.5969283447242688*8) + (0.020259121675607724*350.0) + (-0.04732301299607519*165.0) + (-0.006320573176215293*3693) + (0.03994589331799092*11.5) + (0.7636321989871583*70) + (1.028692810965967*1) + (-28.91612530513584)
y_pred_for_new_car

In [ ]:
car_df.head()

In [ ]:
#OLS - Ordinary Least Square
#Residuals - difference between actual value and predicted value
#MSE - Mean Squared Error
X_ols_train = sm.add_constant(X_train)
ols_model = sm.OLS(y_train,X_ols_train)
mpg_results = ols_model.fit()

In [ ]:
X_ols_train

In [ ]:
mpg_results.params

In [ ]:
mpg_results.summary()

In [ ]:
Df Residuals = n-p-1 = number of observations-numbert of features-1 = 278-8-1 = 269
F- Statistics = to compare fit_intercept only true or fit_intercept false model
                null hypothesis - model with no independent variables fits the data as well as your model
                alternate hypothesis - model with no intercept is better
AIC & BIC ->    Model Selection Parameters(models fitness and complexity)
                AIC - Akaike's Information Criterion - measure of fitness
                BIC - Bayesian's Information Criterion - Complexity
Durbin-Watson - Homoscedasticity between 1 and 2

Ploynomial Linear Regression

In [52]:
X_sample = [[0.44,0.68],[0.99,0.23]]

In [53]:
X_sample

[[0.44, 0.68], [0.99, 0.23]]

In [54]:
np.array(X_sample)

array([[0.44, 0.68],
       [0.99, 0.23]])

In [61]:
poly_obj = PolynomialFeatures(degree=2)
X_transformed = poly_obj.fit_transform(X_sample)

In [62]:
X_transformed

array([[1.    , 0.44  , 0.68  , 0.1936, 0.2992, 0.4624],
       [1.    , 0.99  , 0.23  , 0.9801, 0.2277, 0.0529]])

In [ ]:
#Before Transformation -> a,b
#After Transformation -> 1,a,b,a^2,ab,b^2

In [63]:
polynomial = PolynomialFeatures(degree=2)
X_train_transformed = polynomial.fit_transform(X_train)
X_test_transformed = polynomial.fit_transform(X_test)

In [64]:
X_train_transformed.shape

(278, 45)

In [65]:
poly_linear_reg = LinearRegression()
poly_linear_reg.fit(X_train_transformed,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [66]:
poly_linear_reg.score(X_test_transformed,y_test)

0.8390525754289062

In [67]:
poly_linear_reg.score(X_train_transformed,y_train)

0.9056210792291587

In [68]:
pickle.dump(linear_reg_model,open("MPG_Model.pkl",'wb'))